*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.top-nav {
  width: 100vw;
  background-color: #140899;
  color: #fff;
  font-size: 1.5rem;
}

.top-nav .top-nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5px 25%;
  list-style: none;
}

.logo {
  font-size: 3rem;
}

.logo span {
  color: #140899;
  text-transform: uppercase;
  font-weight: bold;
}

.bottom-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 11%;
}

.bottom-nav input {
  width: 500px;
}

.bottom-nav .user-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #140899;
  font-size: 1.5rem;
  cursor: pointer;
}

.bottom-nav .user-cart .fas {
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1px black;
          box-shadow: 0 0 1px black;
  padding: 10px 10px;
  margin: 2.5px;
}

.ul-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 40px;
  padding: 0 15%;
  background-color: #001f0a;
  color: white;
  list-style: none;
  font-size: 1.6rem;
}

.ul-menu ul li {
  text-align: center;
  line-height: 38px;
  height: 100%;
  width: 100px;
  display: block;
  -webkit-transition: 0.5s background-color;
  transition: 0.5s background-color;
  cursor: pointer;
}

.ul-menu ul li:hover {
  background-color: #140899;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20%;
  font-size: 2rem;
}

.main .title {
  font-weight: normal;
  margin: 20px 0;
}

.main .title:after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background: #140899;
}

.main .faq-item {
  width: 60vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 2px black;
          box-shadow: 0 0 2px black;
  padding: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

.main .faq-item h3 {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 12%;
  margin: 15px;
  font-size: 2rem;
  font-weight: normal;
}

.main .faq-item h3::after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background: #140899;
}

.main .faq-content {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

.faq-content.show {
  position: relative;
  opacity: 1;
  visibility: visible;
}

@media (max-width: 885px) {
  .top-nav {
    width: 100%;
  }
  .top-nav .top-nav-ul li {
    display: none;
  }
}

@media (max-width: 1200px) {
  .top-nav {
    font-size: 1.3rem;
  }
}

@media (max-width: 1000px) {
  .top-nav {
    font-size: 1.1rem;
  }
}
/*# sourceMappingURL=style.css.map */